.notfound-container {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.notfound-container h1 {
  font-family: Marcellus, serif;
  font-size: 8rem;
  color: var(--text-color-3);
}

.notfound-container h2 {
  font-family: Marcellus, serif;
}
